@import './scss/variables.scss';

// scrollbar look and feel modification
html {
  ::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: 0 0 5px $aliceblue-glass;
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $blackperl-glass;
    border-radius: .5rem;
  }
  
  .header {
    z-index: 2;
    width: 100%;
    position: absolute;
    background: linear-gradient(180deg, $blackperl 0%, $glass 100%);
  }
  
}


  h1, h2, h3, h4, h5 {
    font-family: $comfortaa;
    color: $primary;
  }