.tech-area {
    background: linear-gradient(180deg, $blackperl 0%, $graychateau 100%);

    .tech-heading {
        text-align: center;
        padding: 2rem;
    }

    .technology-component {
        padding: 1rem;
        .tech-wrapper {
            .technology {
                width: 7rem;
                height: 7rem;
                display: flex;
                border-radius: 50%;
                font-size: 4rem;
                align-items: center;
                justify-content: center;
                background: $aliceblue;
            }
            .tech-label {
                padding: .5rem;
                color: $blackperl;
                font-family: $asap;
                text-align: center;
                border-radius: 1rem;
                background: $aliceblue;
            }
        }

    }

    .carousel-wrapper {
        @include media-breakpoint-up(lg) {
            flex-wrap: wrap;
            justify-content: center;
        }

        @include media-breakpoint-down(lg) {
            justify-content: center;

            .carousel {
                width: 100%;
                padding-bottom: 30px;
                
                .technology-component {
                    justify-content: center;
                }
            }
        }
    }
}