@import '../../scss/variables.scss';

.navbar.navbar-light {
    .navbar-brand {
        color: $aliceblue;
        font-family: $titlefont;
        font-size: $font-size-1;

        &.active,
        &:hover {
            color: $white;
        }
    }

    .navbar-nav {
        width: 100%;
        justify-content: flex-end;

        .nav-link {
            color: $aliceblue;
            padding: 0 1rem;
            font-size: $font-size-3;
            
            @include media-breakpoint-down (md) {
                font-size: $paragraph-f;
            }
            
            &.active,
            &:hover {
                color: $white;
            }
        }
    }
}
