@import './fonts';

// colors
$aliceblue: #EBF7FF;
$graychateau: #97A2A8;
$sirocco: #6E7478;
$fiord: #575B5E;
$blackperl: #1C1E1F;

$black: #000000;
$white: #ffffff;
$glass: #00000000;

$primary: $aliceblue;
$secondary: $graychateau;

$l-g-caption: linear-gradient(90deg, hsla(195, 4%, 56%, 0) 0%, hsla(0, 0%, 0%, 0.4) 10%, hsla(0, 0%, 0%, 0.4) 90%, hsla(204, 100%, 96%, 0) 100%);


// fonts
$bebasneue: 'Bebas Neue', cursive;
$comfortaa: 'Comfortaa', cursive;
$asap: 'Asap', sans-serif;

$titlefont: $bebasneue;
$heading: $comfortaa;
$paragraph: $asap;


//font sizes

$font-size-1: 4rem;
$font-size-2: 2rem;
$font-size-3: 1.5rem;
$paragraph-f: 1rem;